{% extends 'base.html' %}

{% block title %}Kanban - Issues List{% endblock %}

{% block content %}
    <div class="container m-3">
        <div class="row gx-5">
            {% for issue in issues %}
                <div class="container col gx-5">
                    {% if issue.status != 'Complete' %}
                        {% if issue.type == 'New Feature' %}
                            <div class="card border-4 border-warning mb-5" style="max-width: 18rem;">
                        {% elif issue.type == 'Task' %}
                            <div class="card border-4 border-primary mb-5" style="max-width: 18rem;">
                        {% elif issue.type == 'Critical' %}
                            <div class="card border-4 border-danger mb-5" style="max-width: 18rem;">
                        {% else %}
                            <div class="card border-4 border-dark mb-5" style="max-width: 18rem;">
                        {% endif %}
                    {% else %}
                        <div class="card border-4 border-success mb-5" style="max-width: 18rem;">
                    {% endif %}
                        <h4 class="card-header">
                            <a href="{{ issue.get_absolute_url }}">
                                {{ issue.title }}
                            </a>
                        </h4>
                        <div class="card-body text-dark">
                            <h5 class="card-title">{{ issue.type }}</h5>
                            <h5 class="card-title">{{ issue.status }}</h5>
                            <p class="card-text">{{ issue.author }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
