{% extends 'base.html' %}

{% block title %} Add new Issue {% endblock %}

{% block content %}

    <div class="container text-center m-3">
        <form method="post" class="form-control">
            {{ issue_form.title }}
            {{ issue_form.author }}
            {{ issue_form.type }}
            {{ issue_form.status }}
            {% csrf_token %}
            <button class="btn btn-success" type="submit">Create new Issue</button>
        </form>
    </div>
{% endblock %}
